* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Abel", sans-serif;
  font-size: 1.3rem;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.logo {
  padding-left: 10px;
  width: 100px;
  height: 65px;
}

.navbar {
  background-color: black;
}

/* Primer Banner*/
.banner {
  width: 100%;
}

.leyenda1 {
  padding: 200px 0px 200px 0px;
  text-align: center;
}
.leyenda1 .leyenda1_1 {
  padding: 0px 20px 0px 20px;
  font-size: 3rem;
}

/* Segundo Banner*/
.banner2 {
  width: 100%;
}

.leyenda1_2 {
  padding: 100px 30px 100px 30px;
  font-size: 1.7em;
  text-align: center;
}

hr {
  color: rgb(105, 29, 29);
  padding: 50px 0px 50px 0px;
}

/*Productos*/
.producto_1 {
  padding: 70px 0px 70px 0px;
  font-size: 3rem;
  text-align: center;
}

.productos1_2 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-bottom: 200px;
  text-align: center;
}
.productos1_2 .imagen1_1 {
  width: 15rem;
  height: 18rem;
  border-radius: 80px;
  box-shadow: 10px 10px 10px rgba(185, 185, 185, 0.9);
}
.productos1_2 .imagen1_1:hover {
  transition: width 0.2s, height 0.2s;
  width: 15.5rem;
  height: 18.5rem;
}
.productos1_2 .texto1 {
  display: block;
  text-align: center;
  font-size: 2em;
  margin: 20px 0px 20px 0px;
  padding: 0px 20px 0px 20px;
}

/*Despacho*/
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 70px;
}
.info .iconos {
  display: block;
  text-align: center;
  padding-bottom: 150px;
}
.info .iconos .texto2 {
  padding: 20px;
  font-size: 1.5rem;
  width: 300px;
}
.info .iconos .imagen2 {
  width: 80px;
  height: 100px;
}

/* Pagina de Pulseras*/
.bannerP {
  width: 100%;
}

.productosP {
  padding: 30px;
  font-size: 3rem;
  text-align: center;
}

.leyendaP {
  padding: 30px;
  font-size: 1.7em;
  text-align: center;
}

.cont-pulseras {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cont-pulseras .fondoP {
  width: 220px;
  height: 360px;
  background-color: rgb(234, 233, 233);
  border-radius: 30px;
  margin: 20px;
  box-shadow: 10px 10px 10px rgba(185, 185, 185, 0.9);
  overflow-y: hidden;
}
.cont-pulseras .fondoP .imagen1P {
  margin: 10px;
  width: 200px;
  height: 140px;
  border-radius: 30px;
}
.cont-pulseras .fondoP .titulo {
  border: 10px;
  text-align: center;
  justify-content: center;
  font-size: 0.7rem;
  overflow-y: hidden;
}
.cont-pulseras .fondoP .descripcion {
  border: 20px;
  padding: 0px 10px 0px 10px;
  text-align: center;
  justify-content: center;
  font-size: 0.7rem;
}
.cont-pulseras .fondoP .precio {
  padding: 10px;
  text-align: center;
  justify-content: center;
  font-size: 0.7rem;
}

/* Pagina de Colgantes*/
.bannerC {
  width: 100%;
}

.productosC {
  padding: 30px;
  font-size: 3rem;
  text-align: center;
}

.leyenda1C {
  padding: 30px;
  font-size: 1.7em;
  text-align: center;
}

.cont-colgantes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cont-colgantes .fondoP {
  width: 220px;
  height: 350px;
  background-color: rgb(234, 233, 233);
  border-radius: 30px;
  margin: 20px;
  box-shadow: 10px 10px 10px rgba(185, 185, 185, 0.9);
  overflow-y: hidden;
}
.cont-colgantes .fondoP .imagen1P {
  margin: 10px;
  width: 200px;
  height: 150px;
  border-radius: 30px;
}
.cont-colgantes .fondoP .titulo {
  border: 20px;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  overflow-y: hidden;
}
.cont-colgantes .fondoP .descripcion {
  border: 20px;
  padding: 0px 10px 0px 10px;
  text-align: center;
  justify-content: center;
  font-size: 0.7rem;
}
.cont-colgantes .fondoP .precio {
  padding: 10px;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
}

/* Pagina de Anillos*/
.bannerA {
  width: 100%;
}

.productosA {
  padding: 30px;
  font-size: 3rem;
  text-align: center;
}

.leyenda1A {
  padding: 30px;
  font-size: 1.7em;
  text-align: center;
}

.cont-anillos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cont-anillos .fondoP {
  width: 220px;
  height: 350px;
  background-color: rgb(234, 233, 233);
  border-radius: 30px;
  margin: 20px;
  box-shadow: 10px 10px 10px rgba(185, 185, 185, 0.9);
  overflow-y: hidden;
}
.cont-anillos .fondoP .imagen1P {
  margin: 10px;
  width: 200px;
  height: 150px;
  border-radius: 30px;
}
.cont-anillos .fondoP .titulo {
  border: 20px;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  overflow-y: hidden;
}
.cont-anillos .fondoP .descripcion {
  border: 20px;
  padding: 0px 10px 0px 10px;
  text-align: center;
  justify-content: center;
  font-size: 0.7rem;
}
.cont-anillos .fondoP .precio {
  padding: 10px;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
}

/*Nosotros*/
.nosotros1 {
  font-size: 3rem;
  padding: 50px 60px 50px 60px;
}

.cont_nosotros {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
}
.cont_nosotros .nosotros3 {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  padding: 0px 50px;
  text-align: justify;
}
.cont_nosotros .tienda {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 20px auto 20px auto;
  padding: 0px 50px;
}
.cont_nosotros .tienda .imagen1T {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgba(185, 185, 185, 0.9);
}

.testimonios {
  font-size: 3rem;
  padding: 10px 60px 10px 60px;
}

.testimonioL {
  padding: 20px;
  font-size: 1rem;
  text-align: justify;
}

.cont-testimonio {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  margin-bottom: 100px;
}
.cont-testimonio .fondo {
  display: block;
  width: 300px;
  height: 500px;
  background-color: rgb(234, 233, 233);
  border-radius: 30px;
  margin: 20px auto 20px auto;
  box-shadow: 10px 10px 10px rgba(185, 185, 185, 0.9);
}
.cont-testimonio .fondo .testimonio1 {
  text-align: center;
  padding: 15px;
  font-size: 1rem;
  margin: 0px;
}
.cont-testimonio .fondo .img-testimonio {
  padding: 20px;
  width: 260px;
  height: 200px;
  border-radius: 40px;
}

/*Pie*/
.pie1 {
  padding: 0px 20px 50px 20px;
  max-width: 100%;
  height: auto;
  font-size: 3rem;
  text-align: center;
}

/*Pagina Contacto*/
.contacto {
  padding: 100px 0px 100px 50px;
  max-width: 80%;
  height: auto;
  font-size: 3rem;
  text-align: left;
}

.cont-contacto {
  display: grid;
  grid-template-columns: auto 50%;
  justify-content: space-around;
}
.cont-contacto .contacto3 {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  height: auto;
  font-size: 1.2rem;
  padding: 0px 20px;
  text-align: justify;
}
.cont-contacto .form {
  display: block;
  max-width: 80%;
  height: auto;
  margin: 20px auto 20px auto;
  padding: 0px 10px;
}
.cont-contacto .form input {
  width: 100%;
  height: 30px;
  border-radius: 2px;
  border: none;
  border-radius: 5px;
  background-color: rgb(223, 223, 223);
}
.cont-contacto .form textarea {
  width: 100%;
  height: 100px;
  border-radius: 2px;
  border: none;
  background-color: rgb(223, 223, 223);
}
.cont-contacto .form button {
  font-family: "Abel", sans-serif;
  border-radius: 5px;
  width: 80px;
}

/*Ubicacion*/
.ubicacion {
  padding: 100px 0px 100px 50px;
  max-width: 80%;
  height: auto;
  font-size: 3rem;
  text-align: left;
}

.cont-ubicacion {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
}
.cont-ubicacion .ubicacion2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  height: auto;
  font-size: 1.2rem;
  padding: 0px 20px;
  text-align: justify;
}
.cont-ubicacion span {
  text-decoration: underline;
  text-transform: uppercase;
  display: block;
  max-width: 80%;
  height: auto;
  font-size: 1.2rem;
  text-align: justify;
}

.mapa {
  max-width: 80%;
  height: 25rem;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */
.footer {
  padding: 10px;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pie2 {
  width: 300px;
  height: 200px;
}

@media screen and (max-width: 1000px) {
  .productos1_2 {
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  .cont_nosotros {
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  .cont-testimonio {
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  .cont-contacto {
    display: block;
  }
  .form {
    width: 380px;
  }
}
@media screen and (max-width: 1000px) {
  .cont-ubicacion {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
