@media screen and (max-width: 1000px) {
    .productos1_2 {
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    .cont_nosotros {
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    .cont-testimonio {
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    .cont-contacto {
        display: block;
    }

    .form {
        width: 380px;
    }
}

@media screen and (max-width: 1000px) {
    .cont-ubicacion {
        display: block;
    }
}